.app-container{
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgb(64, 64, 64);
  height: 100vh;
  margin: 0;
  color: aliceblue;
}


p{
  font-size: 25px;
  text-align: center;
}