.app-container{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  background-color: rgb(64, 64, 64);
  height: 100vh;
  margin: 0;
  color: aliceblue;
}


#pheader{
  font-size: px;
  text-align: center;
}